/* Get broken styling without this and a warning.
 Warning: Prop className did not match: https://github.com/vercel/next.js/issues/7423 */

 {
    "presets": ["next/babel"],
    "plugins": [
        [
        "styled-components",
        { "ssr": true, "displayName": true, "preprocess": false }
        ]
    ]
}